@{
    ViewBag.Title = "書局資料管理";
    Layout = "~/Views/_template.cshtml";
}

<div class="container-fluid">
    <ul class="list-group" style="margin-top:20%;margin-bottom:20%; text-size-adjust:auto; font-size:larger">
        <li class="list-group-item list-group-item-success text-center"><a href="/BookStoreSelect/Index">查詢書局資料</a></li>
        <li class="list-group-item list-group-item-info text-center"><a href="/BookStoreSelect/Insert">新增書局資料</a></li>
        
    </ul>
</div>

