@{
    ViewBag.Title = "查詢訂單資料";
    Layout = "~/Views/_template.cshtml";
}

@model System.Data.DataTable
@using System.Data



<div class="container">
    <ul class="list-group" style="margin-top:20%; text-size-adjust:auto; font-size:larger">
        <li class="list-group-item list-group-item-success text-center"><a href="OrderSelectALL">查詢全部資料</a></li>
    </ul>
</div>



<span class="label label-warning"><a href="/BOB/Order">回上一頁 </a> </span>
